<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- PicoCSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="container">
      <nav>
        <ul>
          <li>
            <a href="/"
              ><h2><strong>테스트</strong></h2></a
            >
          </li>
        </ul>
        <ul>
          <li>
            <a href="/export?kw={{keyword}}"><button>CSV 다운로드</button></a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <h1>검색결과입니다.</h1>
      <h4>키워드 "{{ keyword }}"로 {{ counts }}개 검색.</h4>

      <table class="striped">
        <thead data-theme="light">
          <tr>
            <th>no</th>
            <th>공고</th>
            <th>사명</th>
            <th>장소</th>
          </tr>
        </thead>
        <tbody>
          {% for index, job in jobs %}
          <tr>
            <td>{{ index + 1 }}</td>
            <td>
              <a href="{{job['link']}}" target="_blank">{{ job["title"] }}</a>
            </td>
            <td>{{ job["company"] }}</td>
            <td>{{ job["location"] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
    <footer class="container">
      Copyright &copy; 2024 Y All rights reserved
    </footer>
  </body>
</html>
